:root {
  --pure-white: #ffffff;
  --vmc-blue: #003153;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  background-color: var(--pure-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background-color: var(--pure-white);
  width: 100%;
  height: 10%;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo-container {
  background-color: var(--pure-white);
  padding: 0.5rem;
}

#title-container {
  width: 100%;
  background-color: var(--vmc-blue);
  color: var(--pure-white);
  padding: 0.25rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

form {
  width: 80%;
}

input,
label,
select,
textarea {
  width: 100%;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--vmc-blue);
}

select {
  background-color: var(--pure-white);
}

label {
  border: none;
  padding: 0;
}

#personal-information-section {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

#personal-information-section > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section-title-container {
  border-bottom: 2px solid var(--vmc-blue);
}

/* all input containers */
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* all rows in all section */
.row {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

/* row one */
#suffix-container {
  width: 30%;
}

/* row two */
#day-container {
  width: 30%;
}

#year-container {
  width: 50%;
}
