:root {
  --pure-white: #ffffff;
  --vmc-blue: #003153;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--pure-white);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--pure-white);
  width: 100%;
  height: 10%;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo-container {
  background-color: var(--pure-white);
}

#title-container {
  width: 100%;
  background-color: var(--vmc-blue);
  color: var(--pure-white);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
}
